@import "tailwindcss";
@import "./theme.css";
@import "./utilities.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply bg-s1;
}

body {
  @apply font-poppins text-[16px] tracking-[-0.03em] text-p5;
}

a {
  @apply no-underline;
}

img {
  @apply block max-w-full;
}

button {
  @apply bg-none tracking-[-0.03em] cursor-pointer;
}

input {
  @apply tracking-[-0.03em];
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-s1;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#2EF2FF];
}